body{
background-color:SaddleBrown;
width:100%;
height:200px;
margin-bottom:50px;
}

.banner {
   background-color: white;
   color: Peru;
   width:100%;
   height:200px;
   margin-bottom:50px;
}
.banner-text{
text-align: center;
letter-spacing: 2px;
}

h4{
  color:white;
}